* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00112c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  
  .wavy {
    position: relative;
    -webkit-box-reflect: below -18px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  }
  
  .wavy span {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 11px #44c7f4, 0 0 15px #44c7f4,
      0 0 19px #44c7f4, 0 0 23px #44c7f4;
    animation: wavy 1s infinite;
    animation-delay: calc(0.1s * var(--index));
  }
  
  @keyframes wavy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
  
    20% {
      transform: translateY(-18px);
    }
  }